*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #7A378B;
    overflow: hidden;
}

.logo{
    width: 120px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.botoes{
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.botao{
    background-color: #FFD700;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin-top: -50px;
}

.conteudo{
    
}
.carrosel {
  width: 600px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carrosel {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top: 15px;
}

.carrosel .imagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
}


.carrosel .imagem.ativo {
  opacity: 1;
  z-index: 1;
}


